#social-login, #social-register{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
}
#social-login + .h4{
    font-weight: 600;
}
.link-social-login{
    display: inline-block;
    margin: 5px;
}